.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border-radius: 15px;
    border: 0px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
}

.BuildControl button:disabled {
    background-color: #ea7881;
    border: 0pxy;
    color: #ccc;
    cursor: default;
    transition: background-color 0.2s;
}

.BuildControl button:hover:disabled {
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {
    background-color: #e03d4a;
    color: white;
}

.BuildControl .More {
    background-color: #ae1b26;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {
    background-color: #e55b65;
    color: white;
}

.BuildControl .More:hover, .BuildControl .More:active {
    background-color: #901720;
    color: white;
}